@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
input[name="navbar"]:checked + nav {
  width: 17%;
  -webkit-transition: width 600ms ease-in-out;
  transition: width 600ms ease-in-out;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

input[name="navbar"]:checked + nav label {
  width: 90%;
  margin-left: 1rem;
  padding-left: 0.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

input[name="navbar"]:checked + nav h4 {
  width: 80%;
}

#nav1:checked ~ label#nav1 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav1:checked ~ label#nav1 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

#nav2:checked ~ label#nav2 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav2:checked ~ label#nav2 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

#nav3:checked ~ label#nav3 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav3:checked ~ label#nav3 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

#nav4:checked ~ label#nav4 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav4:checked ~ label#nav4 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

#nav5:checked ~ label#nav5 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav5:checked ~ label#nav5 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

#nav6:checked ~ label#nav6 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav6:checked ~ label#nav6 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

nav {
  width: 8.5%;
  position: fixed;
  -webkit-transition: width 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
  transition: width 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
  transition: width 600ms ease-in-out, transform 600ms ease-in-out;
  transition: width 600ms ease-in-out, transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 6rem);
  background-color: #f3f6fd;
  overflow-y: scroll;
  z-index: 999;
}

nav::-webkit-scrollbar {
  display: none;
}

nav i#nav-icon {
  font-size: 1.6rem;
  padding: 0.4rem 0.6rem;
  margin: 0.4rem 0;
  color: inherit;
}

nav label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.3rem;
  height: 3.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #898989;
  margin: 0.5rem 0;
  -webkit-transition: width 600ms ease-in-out;
  transition: width 600ms ease-in-out;
}

nav label:hover {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 1.65rem;
}

nav label:hover .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

nav h4 {
  width: 0px;
  overflow: hidden;
  font-size: 1.1rem;
  font-weight: 500;
  -webkit-transition: width 600ms ease-in-out;
  transition: width 600ms ease-in-out;
}

@media screen and (max-width: 1000px) {
  nav {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  input[name="navbar"]:checked + nav {
    width: 30%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media screen and (max-width: 650px) {
  input[name="navbar"]:checked + nav {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  input[name="navbar"]:checked + nav {
    width: 80%;
  }
}

section.projects {
  -webkit-box-flex: 0.65;
      -ms-flex: 0.65;
          flex: 0.65;
  position: relative;
  height: calc(100vh - 5.6rem);
  background-color: #ffffff;
  overflow-y: scroll;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  padding: 2rem;
}

section.projects::-webkit-scrollbar {
  display: none;
}

div.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0 2rem;
}

div.project-header h4.project-title {
  font-size: 1.4rem;
}

div.project-header h4.project-date {
  font-size: 1rem;
}

div.project-status-container {
  display: -ms-grid;
  display: grid;
  margin: 1.5rem 0;
  -ms-grid-columns: minmax(4rem, auto) minmax(4rem, auto);
      grid-template-columns: minmax(4rem, auto) minmax(4rem, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.project-status-container div.project-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

div.project-status-container div.project-status div.status-details h4 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #1f1c2f;
}

div.project-status-container div.project-status div.status-details h5 {
  font-size: 0.8rem;
  font-weight: 400;
  color: #898989;
}

div.project-status-container div.round-separator {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

div.project-status-container div.round-separator i {
  font-size: 0.5rem;
  font-weight: 400;
  color: #898989;
  margin: 0 1.5rem;
}

div.project-status-container div.status-icons i {
  font-size: 1.3rem;
  color: #1f1c2f;
  padding: 0.7rem;
}

div.project-status-container div.status-icons .stroke-transparent {
  -webkit-text-stroke: 2.5px #1f1c2f;
  -webkit-text-fill-color: transparent;
}

div.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem 8%;
}

div.projects div#project1 {
  border-radius: 2rem;
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
  -webkit-box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
}

div.projects div#project1:hover {
  -webkit-box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
}

div.projects div#project1 div.row-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1.5rem 1rem;
}

div.projects div#project1 div.row-date h6 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project1 div.row-date div.other-icon {
  font-size: 0.45rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.projects div#project1 div.row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project1 div.row-title h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project1 div.row-title h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project1 div.row-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project1 div.row-progress h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project1 div.row-progress progress {
  height: 0.5rem;
  width: 100%;
  border-radius: 1rem;
  margin: 0.7rem 0;
}

div.projects div#project1 div.row-progress progress::-webkit-progress-bar {
  background: #f3f6fd;
  border-radius: 0.25rem;
}

div.projects div#project1 div.row-progress progress::-webkit-progress-value {
  background: #2bc8ff;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

div.projects div#project1 div.row-progress h6.percentage {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

div.projects div#project1 div.row-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 2px solid #f3f6fd;
}

div.projects div#project1 div.row-users div.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  height: 2rem;
}

div.projects div#project1 div.row-users div.users img.project-user {
  width: 1.9rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

div.projects div#project1 div.row-users div.users #user-1 {
  left: 0.2rem;
}

div.projects div#project1 div.row-users div.users #user-2 {
  left: 1.55rem;
}

div.projects div#project1 div.row-users div.users i#plus {
  position: relative;
  font-size: 2rem;
  left: 3.8rem;
  color: #2bc8ff;
}

div.projects div#project1 div.row-users h5 {
  height: 2.2rem;
  background-color: #dbf6fd;
  font-size: 0.9rem;
  font-weight: 600;
  color: #2bc8ff;
  padding: 0.5rem 8%;
  border-radius: 1.1rem;
}

div.projects div#project2 {
  border-radius: 2rem;
  background-color: #fee4cb;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
  -webkit-box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
}

div.projects div#project2:hover {
  -webkit-box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
}

div.projects div#project2 div.row-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1.5rem 1rem;
}

div.projects div#project2 div.row-date h6 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project2 div.row-date div.other-icon {
  font-size: 0.45rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.projects div#project2 div.row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project2 div.row-title h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project2 div.row-title h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project2 div.row-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project2 div.row-progress h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project2 div.row-progress progress {
  height: 0.5rem;
  width: 100%;
  border-radius: 1rem;
  margin: 0.7rem 0;
}

div.projects div#project2 div.row-progress progress::-webkit-progress-bar {
  background: #ffffff;
  border-radius: 0.25rem;
}

div.projects div#project2 div.row-progress progress::-webkit-progress-value {
  background: #ff723a;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

div.projects div#project2 div.row-progress h6.percentage {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

div.projects div#project2 div.row-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 2px solid #ffffff;
}

div.projects div#project2 div.row-users div.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  height: 2rem;
}

div.projects div#project2 div.row-users div.users img.project-user {
  width: 1.9rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

div.projects div#project2 div.row-users div.users #user-1 {
  left: 0.2rem;
}

div.projects div#project2 div.row-users div.users #user-2 {
  left: 1.55rem;
}

div.projects div#project2 div.row-users div.users i#plus {
  position: relative;
  font-size: 2rem;
  left: 3.8rem;
  color: #ff723a;
}

div.projects div#project2 div.row-users h5 {
  height: 2.2rem;
  background-color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ff723a;
  padding: 0.5rem 8%;
  border-radius: 1.1rem;
}

div.projects div#project3 {
  border-radius: 2rem;
  background-color: #baf3d2;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
  -webkit-box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
}

div.projects div#project3:hover {
  -webkit-box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
}

div.projects div#project3 div.row-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1.5rem 1rem;
}

div.projects div#project3 div.row-date h6 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project3 div.row-date div.other-icon {
  font-size: 0.45rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.projects div#project3 div.row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project3 div.row-title h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project3 div.row-title h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project3 div.row-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project3 div.row-progress h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project3 div.row-progress progress {
  height: 0.5rem;
  width: 100%;
  border-radius: 1rem;
  margin: 0.7rem 0;
}

div.projects div#project3 div.row-progress progress::-webkit-progress-bar {
  background: #ffffff;
  border-radius: 0.25rem;
}

div.projects div#project3 div.row-progress progress::-webkit-progress-value {
  background: #02d052;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

div.projects div#project3 div.row-progress h6.percentage {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

div.projects div#project3 div.row-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 2px solid #ffffff;
}

div.projects div#project3 div.row-users div.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  height: 2rem;
}

div.projects div#project3 div.row-users div.users img.project-user {
  width: 1.9rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

div.projects div#project3 div.row-users div.users #user-1 {
  left: 0.2rem;
}

div.projects div#project3 div.row-users div.users #user-2 {
  left: 1.55rem;
}

div.projects div#project3 div.row-users div.users i#plus {
  position: relative;
  font-size: 2rem;
  left: 3.8rem;
  color: #02d052;
}

div.projects div#project3 div.row-users h5 {
  height: 2.2rem;
  background-color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  color: #02d052;
  padding: 0.5rem 8%;
  border-radius: 1.1rem;
}

div.projects div#project4 {
  border-radius: 2rem;
  background-color: #ffd3e2;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
  -webkit-box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
}

div.projects div#project4:hover {
  -webkit-box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
}

div.projects div#project4 div.row-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1.5rem 1rem;
}

div.projects div#project4 div.row-date h6 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project4 div.row-date div.other-icon {
  font-size: 0.45rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.projects div#project4 div.row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project4 div.row-title h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project4 div.row-title h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project4 div.row-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project4 div.row-progress h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project4 div.row-progress progress {
  height: 0.5rem;
  width: 100%;
  border-radius: 1rem;
  margin: 0.7rem 0;
}

div.projects div#project4 div.row-progress progress::-webkit-progress-bar {
  background: #ffffff;
  border-radius: 0.25rem;
}

div.projects div#project4 div.row-progress progress::-webkit-progress-value {
  background: #ff72ac;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

div.projects div#project4 div.row-progress h6.percentage {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

div.projects div#project4 div.row-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 2px solid #ffffff;
}

div.projects div#project4 div.row-users div.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  height: 2rem;
}

div.projects div#project4 div.row-users div.users img.project-user {
  width: 1.9rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

div.projects div#project4 div.row-users div.users #user-1 {
  left: 0.2rem;
}

div.projects div#project4 div.row-users div.users #user-2 {
  left: 1.55rem;
}

div.projects div#project4 div.row-users div.users i#plus {
  position: relative;
  font-size: 2rem;
  left: 3.8rem;
  color: #ff72ac;
}

div.projects div#project4 div.row-users h5 {
  height: 2.2rem;
  background-color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ff72ac;
  padding: 0.5rem 8%;
  border-radius: 1.1rem;
}

div.projects div#project5 {
  border-radius: 2rem;
  background-color: #e9e7fd;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
  -webkit-box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
}

div.projects div#project5:hover {
  -webkit-box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
}

div.projects div#project5 div.row-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1.5rem 1rem;
}

div.projects div#project5 div.row-date h6 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project5 div.row-date div.other-icon {
  font-size: 0.45rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.projects div#project5 div.row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project5 div.row-title h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project5 div.row-title h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project5 div.row-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project5 div.row-progress h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project5 div.row-progress progress {
  height: 0.5rem;
  width: 100%;
  border-radius: 1rem;
  margin: 0.7rem 0;
}

div.projects div#project5 div.row-progress progress::-webkit-progress-bar {
  background: #ffffff;
  border-radius: 0.25rem;
}

div.projects div#project5 div.row-progress progress::-webkit-progress-value {
  background: #6858ff;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

div.projects div#project5 div.row-progress h6.percentage {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

div.projects div#project5 div.row-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 2px solid #ffffff;
}

div.projects div#project5 div.row-users div.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  height: 2rem;
}

div.projects div#project5 div.row-users div.users img.project-user {
  width: 1.9rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

div.projects div#project5 div.row-users div.users #user-1 {
  left: 0.2rem;
}

div.projects div#project5 div.row-users div.users #user-2 {
  left: 1.55rem;
}

div.projects div#project5 div.row-users div.users i#plus {
  position: relative;
  font-size: 2rem;
  left: 3.8rem;
  color: #6858ff;
}

div.projects div#project5 div.row-users h5 {
  height: 2.2rem;
  background-color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  color: #6858ff;
  padding: 0.5rem 8%;
  border-radius: 1.1rem;
}

div.projects div#project6 {
  border-radius: 2rem;
  background-color: #fff0d3;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
  -webkit-box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
}

div.projects div#project6:hover {
  -webkit-box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.1rem 1.6rem rgba(0, 0, 0, 0.25);
}

div.projects div#project6 div.row-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1.5rem 1rem;
}

div.projects div#project6 div.row-date h6 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project6 div.row-date div.other-icon {
  font-size: 0.45rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.projects div#project6 div.row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project6 div.row-title h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project6 div.row-title h6 {
  font-size: 1rem;
  font-weight: 400;
  color: #898989;
}

div.projects div#project6 div.row-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 1.5rem;
}

div.projects div#project6 div.row-progress h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
}

div.projects div#project6 div.row-progress progress {
  height: 0.5rem;
  width: 100%;
  border-radius: 1rem;
  margin: 0.7rem 0;
}

div.projects div#project6 div.row-progress progress::-webkit-progress-bar {
  background: #ffffff;
  border-radius: 0.25rem;
}

div.projects div#project6 div.row-progress progress::-webkit-progress-value {
  background: #ffc554;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

div.projects div#project6 div.row-progress h6.percentage {
  font-size: 1rem;
  font-weight: 600;
  color: #1f1c2f;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

div.projects div#project6 div.row-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 2px solid #ffffff;
}

div.projects div#project6 div.row-users div.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  height: 2rem;
}

div.projects div#project6 div.row-users div.users img.project-user {
  width: 1.9rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

div.projects div#project6 div.row-users div.users #user-1 {
  left: 0.2rem;
}

div.projects div#project6 div.row-users div.users #user-2 {
  left: 1.55rem;
}

div.projects div#project6 div.row-users div.users i#plus {
  position: relative;
  font-size: 2rem;
  left: 3.8rem;
  color: #ffc554;
}

div.projects div#project6 div.row-users h5 {
  height: 2.2rem;
  background-color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffc554;
  padding: 0.5rem 8%;
  border-radius: 1.1rem;
}

@media screen and (min-width: 1300px) {
  div.projects {
    grid-gap: 5rem 12%;
  }
  section.projects {
    padding: 2.5rem 3.5rem;
  }
}

@media screen and (max-width: 620px) {
  div.projects {
    -ms-grid-columns: minmax(auto, 500px);
        grid-template-columns: minmax(auto, 500px);
    grid-gap: 3rem 7%;
  }
  div.project-status-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  div.status-icons {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  div.round-separator i {
    margin: 0 1rem !important;
  }
}

section.chats {
  -webkit-box-flex: 0.35;
      -ms-flex: 0.35;
          flex: 0.35;
}

div.chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  padding: 2rem;
  border-bottom: 2px solid #DCDDDF;
}

div.chat-header h4 {
  font-size: 1.4rem;
}

div.chat-header div.icons {
  font-size: 1.5rem;
  width: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.chat-header div.icons div.other-icon {
  height: 1.4rem;
  font-size: 0.45rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.chat-container {
  height: calc(100vh - 13.875rem);
  overflow-y: scroll;
}

div.chat-container::-webkit-scrollbar {
  display: none;
}

div.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid #DCDDDF;
}

div.chat img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 1rem 0.75rem 1rem 1rem;
}

div.chat div.chat-detail {
  margin: 0 1rem 0 0.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.chat div.chat-detail div.row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.chat div.chat-detail div.row-title h5 {
  font-size: 1.25rem;
}

div.chat div.chat-detail div.row-content {
  position: relative;
}

div.chat div.chat-detail div.row-content h6 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #1f1c2f;
}

div.chat div.chat-detail div.row-content h5 {
  text-align: right;
  font-size: 1rem;
  font-weight: 500;
  color: #898989;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #dfe1ed;
  margin: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

div.wrapper {
  background-color: #f3f6fd;
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[name="navbar"]:checked ~ div.container {
  width: 81%;
  left: 18%;
}

.stroke-transparent {
  -webkit-text-stroke: 2px #898989;
  -webkit-text-fill-color: transparent;
}

header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 0.8rem 2rem 0.8rem 0rem;
  width: 100%;
  gap: 1rem 0px;
  z-index: 9;
  background-color: #f3f6fd;
  -ms-grid-columns: 8.5% 25% 30% 1fr (minmax(40px, auto))[5];
      grid-template-columns: 8.5% 25% 30% 1fr repeat(5, minmax(40px, auto));
      grid-template-areas: "nav title search spacer plus notification hr profile name";
}

header label {
  margin: 10px auto;
}

header img#nav {
  width: 2.2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1f1c2f;
  padding: 0.2rem 1rem;
  margin: 0 2rem 0 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  -ms-grid-column-align: center;
      justify-self: center;
}

header input#search {
  border-radius: 30px;
  outline: none;
  position: relative;
  border: none;
  min-width: 10rem;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: search;
  padding: 0.7rem 1rem 0.7rem 2.5rem;
  letter-spacing: 1px;
  background: url("../Assests/baseline_search_black_36dp.png") no-repeat 10px;
  background-size: 1.7rem;
  background-color: #ffffff;
  font-size: 1.3rem;
  font-weight: normal;
  color: #1f1c2f;
}

header input#search::-webkit-input-placeholder {
  font-size: 1.1rem;
  font-weight: normal;
  color: #898989;
}

header input#search:-ms-input-placeholder {
  font-size: 1.1rem;
  font-weight: normal;
  color: #898989;
}

header input#search::-ms-input-placeholder {
  font-size: 1.1rem;
  font-weight: normal;
  color: #898989;
}

header input#search::placeholder {
  font-size: 1.1rem;
  font-weight: normal;
  color: #898989;
}

header div.spacer {
  grid-row: 1fr;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: spacer;
}

header i#plus,
header i#notification {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: plus;
  font-size: 2.1rem;
  margin: 0 0.7rem;
}

header i#notification {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: notification;
  font-size: 1.8rem;
}

header hr {
  width: 0.15rem;
  height: 3rem;
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: hr;
  background-color: #898989;
  border: none;
}

header img#profile {
  border-radius: 50%;
  margin: 0 0.7rem;
  width: 2.5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  grid-area: profile;
  -ms-grid-column-align: center;
      justify-self: center;
}

header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f1c2f;
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  grid-area: name;
}

section.main-container {
  position: relative;
  height: calc(100vh - 5.6rem);
  overflow-y: scroll;
}

section.main-container::-webkit-scrollbar {
  display: none;
}

section.main-container div.container {
  width: 90%;
  position: relative;
  left: 8.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: left 600ms ease-in-out, width 600ms ease-in-out;
  transition: left 600ms ease-in-out, width 600ms ease-in-out;
}

@media screen and (max-width: 1000px) {
  section.main-container div.container {
    width: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0%;
    -webkit-transition: left 600ms ease-in-out, width 600ms ease-in-out;
    transition: left 600ms ease-in-out, width 600ms ease-in-out;
  }
  input[name="navbar"]:checked ~ div.container {
    width: 99%;
    left: 0%;
  }
}

@media screen and (max-width: 900px) {
  section.main-container div.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  header {
    -ms-grid-columns: minmax(10px, auto) 1fr (minmax(10px, auto))[2];
        grid-template-columns: minmax(10px, auto) 1fr repeat(2, minmax(10px, auto));
        grid-template-areas: "nav title profile name" "search search plus notification  ";
    padding: 0.8rem 2rem;
  }
  header div.spacer,
  header hr {
    display: none;
  }
  header h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1f1c2f;
    padding: 0.2rem 1rem;
    margin: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 0.6rem 1rem;
    -ms-grid-columns: minmax(10px, auto) 1fr (minmax(10px, auto))[2];
        grid-template-columns: minmax(10px, auto) 1fr repeat(2, minmax(10px, auto));
        grid-template-areas: "nav title title profile" "search search plus notification  ";
  }
  header h4 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */