@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
input[name="navbar"]:checked + nav {
  width: 17%;
  -webkit-transition: width 600ms ease-in-out;
  transition: width 600ms ease-in-out;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

input[name="navbar"]:checked + nav label {
  width: 90%;
  margin-left: 1rem;
  padding-left: 0.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

input[name="navbar"]:checked + nav h4 {
  width: 80%;
}

#nav1:checked ~ label#nav1 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav1:checked ~ label#nav1 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

#nav2:checked ~ label#nav2 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav2:checked ~ label#nav2 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

#nav3:checked ~ label#nav3 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav3:checked ~ label#nav3 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

#nav4:checked ~ label#nav4 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav4:checked ~ label#nav4 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

#nav5:checked ~ label#nav5 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav5:checked ~ label#nav5 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

#nav6:checked ~ label#nav6 {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

#nav6:checked ~ label#nav6 .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

nav {
  width: 8.5%;
  position: fixed;
  -webkit-transition: width 600ms ease-in-out;
  transition: width 600ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav i#nav-icon {
  font-size: 1.6rem;
  padding: 0.4rem 0.6rem;
  margin: 0.4rem 0;
  color: inherit;
}

nav label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #898989;
  margin: 0.5rem 0;
  -webkit-transition: width 600ms ease-in-out;
  transition: width 600ms ease-in-out;
}

nav label:hover {
  background-color: #1f1c2f;
  color: #ffffff;
  border-radius: 35px;
}

nav label:hover .stroke-transparent {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

nav h4 {
  width: 0px;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 500;
  -webkit-transition: width 600ms ease-in-out;
  transition: width 600ms ease-in-out;
}

section.projects {
  -webkit-box-flex: 0.65;
      -ms-flex: 0.65;
          flex: 0.65;
  position: relative;
  height: 500px;
  background-color: #ffffff;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

section.chats {
  -webkit-box-flex: 0.35;
      -ms-flex: 0.35;
          flex: 0.35;
  height: 350px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #dfe1ed;
  margin: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

div.wrapper {
  background-color: #f3f6fd;
  width: 100%;
  border-radius: 2.5rem;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

input[name="navbar"]:checked ~ div.container {
  width: 80%;
  left: 19%;
}

.stroke-transparent {
  -webkit-text-stroke: 2px #898989;
  -webkit-text-fill-color: transparent;
}

header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 0.8rem 2rem 0.8rem 0rem;
  width: 100%;
  gap: 1rem 0px;
  z-index: 9;
  background-color: #f3f6fd;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  -ms-grid-columns: 8.5% 25% 35% 1fr (minmax(40px, auto))[5];
      grid-template-columns: 8.5% 25% 35% 1fr repeat(5, minmax(40px, auto));
      grid-template-areas: "nav title search spacer plus notification hr profile name";
}

header label {
  margin: 10px auto;
}

header img#nav {
  width: 2.2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

header h1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1f1c2f;
  padding: 0.2rem 1rem;
  margin: 0 2rem 0 0;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  -ms-grid-column-align: center;
      justify-self: center;
}

header input#search {
  border-radius: 30px;
  outline: none;
  position: relative;
  border: none;
  min-width: 10rem;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: search;
  padding: 0.7rem 1rem 0.7rem 2.5rem;
  letter-spacing: 1px;
  background: url("../Assests/baseline_search_black_36dp.png") no-repeat 10px;
  background-size: 1.7rem;
  background-color: #ffffff;
  font-size: 1.3rem;
  font-weight: normal;
  color: #1f1c2f;
}

header input#search::-webkit-input-placeholder {
  font-size: 1.1rem;
  font-weight: normal;
  color: #898989;
}

header input#search:-ms-input-placeholder {
  font-size: 1.1rem;
  font-weight: normal;
  color: #898989;
}

header input#search::-ms-input-placeholder {
  font-size: 1.1rem;
  font-weight: normal;
  color: #898989;
}

header input#search::placeholder {
  font-size: 1.1rem;
  font-weight: normal;
  color: #898989;
}

header div.spacer {
  grid-row: 1fr;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: spacer;
}

header i#plus,
header i#notification {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: plus;
  font-size: 2.1rem;
  margin: 0 0.7rem;
}

header i#notification {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: notification;
  font-size: 1.8rem;
}

header hr {
  width: 0.15rem;
  height: 3rem;
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: hr;
  background-color: #898989;
  border: none;
}

header img#profile {
  border-radius: 50%;
  margin: 0 0.7rem;
  width: 2.5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  grid-area: profile;
  -ms-grid-column-align: center;
      justify-self: center;
}

header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f1c2f;
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  grid-area: name;
}

section.main-container {
  position: relative;
}

section.main-container div.container {
  width: 90%;
  position: relative;
  left: 8.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: left 600ms ease-in-out,width 600ms ease-in-out;
  transition: left 600ms ease-in-out,width 600ms ease-in-out;
}

@media screen and (max-width: 800px) {
  header {
    -ms-grid-columns: minmax(10px, auto) 1fr (minmax(10px, auto))[2];
        grid-template-columns: minmax(10px, auto) 1fr repeat(2, minmax(10px, auto));
        grid-template-areas: "nav title profile name" "search search plus notification  ";
    padding: 0.8rem 2rem;
  }
  header div.spacer,
  header hr {
    display: none;
  }
  header h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1f1c2f;
    padding: 0.2rem 1rem;
    margin: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 0.6rem 1rem;
    -ms-grid-columns: minmax(10px, auto) 1fr (minmax(10px, auto))[2];
        grid-template-columns: minmax(10px, auto) 1fr repeat(2, minmax(10px, auto));
        grid-template-areas: "nav title title profile" "search search plus notification  ";
  }
  header h4 {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */